{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "airbnb",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-newline": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["WrappedTextField"],
        "depth": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "max-len": [
      2,
      100,
      4,
      {
        "ignoreUrls": true,
        "ignorePattern": "^(\\s*(var|let|const)\\s.+=\\s*require\\s*\\()|(^\\s*import)"
      }
    ],
    "comma-dangle": ["error", "never"],
    "react/prop-types": 0,
    "no-param-reassign": 0,
    "no-prototype-builtins": 0,
    "jsx-a11y/label-has-for": 0,
    "spaced-comment": 0, // To support our copyright banner.
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "import/prefer-default-export": "off"
  },
  "env": {
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "document": true,
    "window": true,
    "isFinite": true,
    "isNaN": true
  }
}
